# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env

# ChromaDB
chroma_db/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

#private docs
documents/